
.line-through {
  text-decoration: line-through;
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.enter-task {
  margin-top: 50px;
}

.content {
  width: 400px;
  display: flex;
  justify-content: center;
}

.item {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.task-count {
  margin-left: 15px;
}
.state-of-task {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}
.bk-of-clear {
  background-color: deeppink;
  margin-right: 10px;
}
.label-task {
  margin-top: 10px;
}
