<div class="wrapper">
  <mat-card class="content">
    <form  novalidate>
      <mat-form-field>
        <input matInput #newTask>
      </mat-form-field>
      <button (click)="addTask(newTask.value)" color="primary" mat-raised-button>ADD</button>
      <span class="task-count">TASKS: {{tasks.length}}</span>
    </form>
  </mat-card>
</div>

<div *ngFor="let task of tasks; let i = index" class="task__list">
  <mat-card class="item">
    <button (click)="deleteTask(i)" mat-icon-button>
      <mat-icon>clear</mat-icon>
    </button>
    <button (click)="lineThrough(i)" mat-icon-button>
      <mat-icon>done</mat-icon>
    </button>
    <span [class.line__through]="tasks[i].done" class="label-task">{{task.label}}</span>
  </mat-card>
</div>


