<div class="wrapper">
  <mat-card class="content">
    <form  novalidate>
      <mat-form-field>
        <input matInput #newTask >
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addTask(newTask.value)">ADD</button>
      <span class="task__count">TASKS: {{task__count}}</span>
    </form>
  </mat-card>
</div>

<div class="task__list" *ngFor="let task of tasks; let i = index">
  <mat-card class="item">
    <button mat-icon-button (click)="deleteElement(i)">
      <mat-icon>clear</mat-icon>
    </button>
    <button mat-icon-button (click)="line__through(i)">
      <mat-icon>done</mat-icon>
    </button>
    <span [ngClass]="{line__through: tasks[i].done}">{{task.label}}</span>
  </mat-card>
</div>
