<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/todo">TODOLIST</a>
      <a mat-list-item routerLink="/blog">BLOG</a>
      <a mat-list-item routerLink="/profile">PROFILE</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Angular-test</span>
      <button mat-raised-button id="log-in">Log in</button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
